/* Style reutilisable */
.container {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 64px;
    padding-left: 64px;
}

.container.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    position: relative;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 128px;
    padding-bottom: 64px;
    text-align: center;
}

.button {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 32px;
    padding: 5px 12px 2px;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border: 1px solid #000;
    border-radius: 24px;
    border-color: currentcolor;
    color: currentColor;
    transition: .3s cubic-bezier(.215, .61, .355, 1);
    font-family: 'Mint Grotesk', sans-serif;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 64px;
    padding-top: 64px;
    max-width: 1920px;
}

/* NAVIGATION */
.nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 1001;
    width: 100%;
    height: 64px;
    background-color: #0000;
    backdrop-filter: blur(16px);
}

.nav-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    position: absolute;
    left: auto;
    right: auto;
    z-index: 1;
    display: flex;
    width: 128px;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-family: Roslindale, 'Times New Roman', sans-serif;
    font-size: 32px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
}

.P,
.A,
.U,
.L {
    transition: transform 0.2s ease-in-out;
}

.nav-logo:hover .P {
    transform: translate(-50px, -50px);
}

.nav-logo:hover .A {
    transform: translate(50px, -50px);
}

.nav-logo:hover .U {
    transform: translate(-50px, 50px);
}

.nav-logo:hover .L {
    transform: translate(50px, 50px);
}

svg {
    overflow: visible;
}

.nav-logo-svg {
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    fill: currentColor;
}

.nav-menu {
    width: 100%;
    height: 100%;
}

.nav-menu-grid {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-gap: 128px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
}

.nav-menu-item-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.button.mode {
    display: flex;
    padding-top: 5px;
    padding-bottom: 2px;
    justify-content: center;
    justify-items: start;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.button.mode.desktop {
    display: flex;
}

.button.mode.mobile {
    display: none;
}

.mode-overflow {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 18px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mode-text {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    transition: transform .5s cubic-bezier(.645, .045, .355, 1);
}

.nav-mobile-wrapper {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    flex: 0 0 auto;
    grid-column-gap: 8px;
}

.nav-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0e1012;
    opacity: .5;
    backdrop-filter: blur(16px);
    transition: color var(--transition-speed), background-color var(--transition-speed) !important;
}

.w-nav-overlay {
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0;
    right: 0;
    width: 100%;
}


.nav-menu-grid-mobile {
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
}

.hero-card {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 64px;
    border-radius: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 100%;
    color: #f3f6fa;
    text-align: center;
}

.hero-card-title {
    position: relative;
    z-index: 5;
    display: flex;
    width: 100%;
    max-width: 900px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}

.hero-wrapper h1 {
    margin-bottom: 0;
}

.hero-h1-wrapper {
    overflow: hidden;
}

.hero-h1 {
    overflow: hidden;
    text-transform: uppercase;
}

.hero-background-teaser {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-background-teaser>video {
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    top: -100%;
    object-fit: cover;
    z-index: -100;
}

.hero-card-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0e1012, #0e1012);
    opacity: .24;
}

.footer-email-h4 {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    padding: 24px 24px 16px;
    border-radius: 16px;
    transition: .5s cubic-bezier(.215, .61, .355, 1);
    font-size: 42px;
}

.about-section {
    padding-top: 128px;
}

.section-title {
    position: relative;
    display: flex;
    max-width: 700px;
    margin-right: auto;
    margin-bottom: 64px;
    margin-left: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.intro-img-wrapper {
    perspective: 1200px;
    transform: perspective(1200px);
    bottom: 0;
    right: 0;
}

.intro-img {
    position: relative;
    height: 88px;
    margin-right: 1em;
    border-radius: 12px;
}

.intro-wrapper {
    display: flex;
    margin-bottom: 48px;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
}

.margin-top {
    margin-top: 48px;
}

.cursor-hover-img {
    position: absolute;
    width: 300px;
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
}


.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project {
    border-bottom: 1px solid currentColor;
    padding: 100px 0px 70px 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 1;
    position: relative;
    z-index: 2;
    color: currentColor;
    gap: 40px;
    width: 100%;
}

.wrapper {
    width: 100%;
    padding: 0 64px;
    height: 100%;
}

.projets-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
}

.label {
    font-size: .8em;
    line-height: 1.3;
    text-transform: uppercase;
}

.svg-frame-polygon {
    display: flex;
    width: 16px;
    height: 8px;
    justify-content: center;
    align-items: center;
    fill: currentColor;
}

.svg-frame-polygon.svg {
    fill: currentColor;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.footer-container {
    position: relative;
    z-index: 1;
    max-width: 1920px;
}

.layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.smallprints-grid {
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.footer-smallprints.n1 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: start;
}

.footer-smallprints.n2 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
}


.label.smallprint {
    font-size: 10px;
}

.list-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.footer-email-wrapper {
    position: relative;
    overflow: hidden;
}

.footer-email-h4 {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    padding: 24px 24px 16px;
    border-radius: 16px;
    transition: .5s cubic-bezier(.215, .61, .355, 1);
    font-size: 42px;
    cursor: pointer;
}

.footer-email-h4:hover {
    transform: scale(0.98);
}

.section-title-labels {
    margin-bottom: 48px;
}

.section-title-labels.footer-title {
    display: flex;
    overflow: hidden;
    height: 18px;
    gap: 1px;
    margin-bottom: 32px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    flex: 0 0 auto;
}

.label.email {
    height: 100%;
    flex: 0 0 auto;
}

.footer-email-border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed;
    border-radius: 16px;
    opacity: 0.2;
    border-color: currentColor;
}

.list {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    grid-row-gap: 256px;
}

.item {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 64px;
    padding-left: 64px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    perspective: 1200px;
    transform: perspective(1200px);
    text-align: center;
}

.for-motion {
    margin-bottom: 32px;
    flex: 0 0 auto;
}

.motion-images {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 600px;
    max-width: 800px;
    margin: 48px auto;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.motion-image-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    border-radius: 24px;
}

.motion-image-wrapper.main {
    z-index: 2;
    height: 0%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60%;
    perspective: 1200px;
}

.motion-image {
    position: absolute;
    left: -50px;
    top: 0;
    right: auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    margin: auto;
    flex: 0 0 auto;
    object-fit: cover;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
}

.motion-play {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    display: flex;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(14, 16, 18, .5);
    backdrop-filter: blur(12px);
    transform: translate3d(0, 0, 64px);
    color: #f3f6fa;
    transform-style: preserve-3d;
}

.motion-play-icon {
    position: relative;
    top: 2px;
    right: -2px;
    z-index: 1;
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    transition: .4s cubic-bezier(.215, .61, .355, 1);
}

.motion-play-icon.glow {
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: auto;
    z-index: 0;
    margin: auto;
    opacity: 0;
    filter: blur(0px);
    transform: translate(2px, 2px);
    transition: 1.4s cubic-bezier(.23, 1, .32, 1);
}

.motion-image-wrapper.main:hover .motion-play-icon {
    transform: scale(1.1);
}

.motion-image-wrapper.main:hover .motion-play-icon.glow {
    opacity: 1;
    filter: blur(12px);
}

.motion-parallax-wrapper {
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    bottom: auto;
    width: 30%;
    transform: perspective(1200px);
}

.motion-parallax-wrapper.a {
    left: auto;
    top: -15%;
    right: -18%;
    bottom: auto;
    z-index: 1;
    perspective: 1200px;
    perspective-origin: 50% 50%;
    transform: translate3d(0, 0, -48px) perspective(1200px);
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
}

.motion-parallax-wrapper.b {
    right: auto;
    top: auto;
    left: 8%;
    bottom: -8%;
    z-index: 3;
    transform: translate3d(0,0,24px) perspective(1200px);
    transform-style: preserve-3d;
}

.motion-image-wrapper.parallax {
    height: 0%;
    padding-top: 70%;
    backface-visibility: hidden;
    transform: translate(0, 0);
}

.motion-image.parallax {
    position: absolute;
    left: -50px;
    top: 0;
    right: auto;
    bottom: 0;
    margin: auto;
}

.header {
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 64px;
    padding-bottom: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header.page-header {
    position: relative;
    max-height: 1000px;
}

.header.template-header {
    height: auto;
    padding-top: 128px;
    padding-bottom: 88px;
}

.projet-header {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.projet-h1 {
    position: sticky;
    top: 128px;
    z-index: 2;
    margin-bottom: 0;
    padding-top: 128px;
    padding-bottom: 32px;
    text-transform: none;
}

.projet-header-main {
    position: relative;
    z-index: 1;
    width: 100%;
    max-height: 150vh;
    margin-top: 64px;
    border-radius: 32px;
    object-fit: cover;
}

.projet-header-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 3;
    width: 100%;
    max-height: 150vh;
    border-radius: 32px;
    object-fit: cover;
}

.section.large-section {
    padding-top: 128px;
    padding-bottom: 128px;
}

.no-margin {
    margin-bottom: 0;
}

.section-title.no-margin {
    margin-bottom: 0;
}

.section-title:only-child {
    margin-bottom: 0;
}

.section-title:last-child,
.section-title:only-child {
    margin-bottom: 0;
}

.margin-large {
    margin-bottom: 64px;
}

.paragraph-wrapper {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.paragraph-wrapper.max-w {
    max-width: 1000px;
}

.page-paragraph {
    font-family: 'Roslindale';
    font-size: 1.72em;
    line-height: 1.1;
    font-weight: 400;
}

.projet-info {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.projet-info-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    border-bottom: 1px solid currentColor;
    margin-bottom: 30px;
    padding-bottom: 10px;
    gap: 10%;
}

.info-label {
    font-family: 'Mint Grotesk';
    font-weight: 500;
    font-size: 1em;
}

.info-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.tool-wrapper {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-img {
    width: 100%;
    height: 100%;
}

.presentation-title {
    padding-bottom: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.presentation-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.presentation-img-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.presentation-img {
    width: 100%;
    height: 100%;
    max-height: 80vh;
    position: relative;
    border-radius: 32px;
    object-fit: cover;
    display: flex;
    flex-wrap: nowrap;
}

.presentation-paragraph-wrapper {
    max-width: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 0;
}

.parallax-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
    height: 100%;
}

.padding {
    padding-left: 64px;
    padding-right: 64px;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax-projet {
        width: 100%;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
}

.parallax-img {
    width: 110%;
    height: 110%;
    position: relative;
    object-fit: cover;
}

.paragraph-parallax {
    text-align: center;
}

.photo-projet-list {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10%;
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: center;
    grid-column-gap: 100px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.photo-projet-list-grid {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    perspective: 1200px;
}

.photo-projet-image-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    max-height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    backface-visibility: hidden;
    perspective: 1200px;
    transform: perspective(1200px);
}

.photo-projet-image-wrapper._1 {
    z-index: 1;
    width: 90%;
}

.photo-projet-image-wrapper._2 {
    z-index: 1;
    width: 85%;
    transform: translate3d(100px, 0px, 24px) perspective(1200px);
    transform-style: preserve-3d;
}

.photo-projet-image-wrapper._3 {
    z-index: 1;
    width: 60%;
}

.photo-projet-image {
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    object-fit: contain;
}

.section-title {
    position: relative;
    display: flex;
    max-width: 700px;
    margin-right: auto;
    margin-bottom: 64px;
    margin-left: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.section-title.compact {
    max-width: 600px;
}

.section-title:only-child {
    margin-bottom: 0;
}

.section-title:last-child,
.section-title:only-child {
    margin-bottom: 0;
}

.headline {
    position: relative;
    margin-bottom: 0;
    font-family: Roslindale, 'Times New Roman', sans-serif;
    font-size: 180px;
    text-transform: uppercase;
}

.headline.page-headline {
    margin-bottom: 40px;
    text-transform: capitalize;
}

.dev-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1920px;
    justify-content: center;
    align-items: center;
}

.dev-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.dev-link {
    font-size: 30px;
}

.link-tag {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-left: 4px;
    padding: 6px 12px 5px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 24px;
    font-size: 11px;
    text-transform: uppercase;
}

.link-arrow {
    display: flex;
    width: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 991px) {
    h1 {
            font-size: 12vw
    }

    h2 {
        font-size: 11vw
    }

    h3 {
        font-size: 9vw
    }

    .cursor {
        display: none;
    }

    .container {
        padding-left: 48px;
        padding-right: 48px;
    }

    .wrapper {
        padding-left: 48px;
        padding-right: 48px;
    }

    .padding {
        padding-left: 48px;
        padding-right: 48px;
    }

    .container.nav-container {
        justify-content: space-between;
        align-items: stretch;
    }

    .nav-logo {
        position: relative;
        width: auto;
        margin-left: -16px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .nav-mobile-wrapper {
        display: flex;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu-mobile {
        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
        height: 100vh;
        margin-top: 64px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 10px;
        padding-right: 60px;
        padding-left: 60px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: #0000;
        backdrop-filter: blur(12px);
    }

    .translate{
        transform: translateY(0%);
    }

    .headline {
        font-size: 25vw;
    }

    .headline.page-headline {
        font-size: 23vw;
    }

    .nav-menu-grid-mobile {
        position: relative;
        left: 0;
        right: 0;
        bottom: auto;
        display: flex;
        width: 100%;
        height: auto;
        margin: auto;
        padding: 24px;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        grid-auto-flow: row;
        grid-template-columns: auto auto;
        border-radius: 24px;
        background-color: #000;
    }

    .button.mode.mobile {
        display: flex;
    }

    .button.mode.desktop {
        display: none;
    }

    .menu-button {
        display: block;
        margin-right: -8px;
        margin-left: -8px;
        padding-right: 8px;
        padding-left: 8px;
        justify-content: center;
        align-items: center;
        background-color: #0000;
    }

    .button.mobile-button {
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: column;
        justify-content: flex-start;
    }

    .mobile-button-text {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        flex: 0 0 auto;
        transition: transform .5s cubic-bezier(.645, .045, .355, 1);
    }

    .light-mode .nav-menu-grid-mobile {
        background-color: #FFF;
    }

    .nav-menu-item-wrapper {
        display: none;
    }

    .nav-menu-item-wrapper-mobile {
        display: flex;
        width: 100%;
        margin-bottom: 8px;
        flex-direction: column;
        align-items: center;
        grid-template-columns: auto auto;
    }

    .button.nav-button {
        height: auto;
        padding: 8px 16px;
        border-style: none;
        border-color: #000;
        border-radius: 8px;
        background-color: transparent;
        font-family: 'Roslindale';
        font-size: 4vw;
    }

    .hero-card {
        padding: 0;
    }

    .hero-h1 {
        font-size: 10vw;
    }

    .svg-frame-polygon.projets-card-meta-frame {
        height: auto;
    }

    .projets {
        padding-right: 48px;
        padding-left: 48px;
    }

    .projets-wrapper.filter {
        position: absolute;
        object-fit: cover;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        z-index: -1;
        background: linear-gradient(90deg, rgba(14, 16, 18, 0.8) 40%, rgba(14, 16, 18, 0) 80%);
        width: 105%;
        height: 105%;
    }

    .cursor-hover-img {
        display: none;
    }

    .item {
        padding-right: 48px;
        padding-left: 48px;
    }

    .motion-image-wrapper.main {
        padding-top: 64%;
    }

    .label.smallprint {
        white-space: nowrap;
    }

    .project {
        padding: 100px 0px 70px 0px;
    }

    .intro-img {
        height: 9vw;
    }  
    
    .header.template-header {
        padding-top: 128px;
    }

    .presentation-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 30px;
        justify-content: flex-start;
    }

    .presentation-paragraph-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        max-width: 600px;
    }

    .presentation-img {
        width: 100%;
        max-height: 60vh;
        position: relative;
        border-radius: 32px;
        object-fit: cover;
        display: flex;
        flex-wrap: nowrap;
    }

    .paragraph-parallax {
        text-align: left;
    }

    .photo-projet-list {
        grid-column-gap: 32px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }

    .padding {
        padding-left: 32px;
        padding-right: 32px;
    }

    .nav-menu-mobile {
        padding-top: 6px;
        padding-right: 38px;
        padding-left: 38px;
    }

    .nav-menu-grid-mobile {
        grid-row-gap: 12px;
        grid-template-columns: auto;
        border-radius: 28px;
    }

    .nav-menu-item-wrapper-mobile {
        margin-bottom: 0;
        justify-items: center;
        grid-row-gap: 12px;
        grid-template-columns: auto;
    }

    .button.nav-button {
        font-size: 5vw;
    }

    .hero-card {
        border-radius: 16px;
    }

    .hero-card-title {
        max-width: none;
    }

    .hero-h1 {
        font-size: 12vw;
    }

    .svg-frame-polygon {
        margin-top: 8px;
        margin-bottom: 8px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .svg-frame-polygon.projets-card-meta-frame {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .projets {
        padding-right: 32px;
        padding-left: 32px;
    }

    .projets-item {
        height: 50vh;
    }

    .projets-label {
        grid-column-gap: 12px;
        grid-row-gap: 12px;
        grid-template-columns: auto;
        font-size: .9em;
    }
    .projets-wrapper.filter {
        position: absolute;
        object-fit: cover;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        z-index: -1;
        background: linear-gradient(90deg, rgba(14, 16, 18, 0.8) 30%, rgba(14, 16, 18, 0) 80%);
        width: 105%;
        height: 105%;
    }

    .item {
        padding-right: 32px;
        padding-left: 32px;
    }

    .motion-image-wrapper.main {
        padding-top: 67%;
    }

    .motion-play {
        width: 64px;
        height: 64px;
    }

    .motion-play-icon {
    width: 14px;
    }

    .motion-parallax-wrapper.a {
    top: -18%;
    right: -14%;
    }

    .motion-image-wrapper.parallax {
    border-radius: 16px;
    }

    .motion-parallax-wrapper.b {
        left: 6%;
        bottom: -15%;
    }

    .smallprints-grid {
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        grid-template-columns: 1fr;
    }

    .footer-smallprints.n1,
    .footer-smallprints.n2 {
        justify-self: center;
    }

    .footer-email-h4 {
        font-size: 7vw;
    }

    .intro-img {
        height: 11vw;
        top: -1vw;
        margin-right: 0.5em;
        border-radius: 8px;
    }

    .projet-header-main {
        width: 100%;
        max-width: none;
    }

    .projet-header-overlay {
        width: 100%;
        max-width: none;
    }

    .section.large-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .page-paragraph {
        font-size: 1.6em;
    }

    .info-tools {
        gap: 20px;
    }

    .photo-projet-list {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .photo-projet-list-grid {
        grid-row-gap: 30px;
    }

    .photo-projet-image-wrapper._1 {
        width: 100%;
        height: 100%;
    }

    .photo-projet-image-wrapper._2 {
        width: 100%;
        transform: translate3d(0px, 0px, 24px) perspective(1200px);
    }

    .photo-projet-image-wrapper._3 {
        width: 100%;
        height: 100%;
    }

    .header.page-header {
        height: auto;
        max-height: none;
        padding-top: 192px;
        padding-bottom: 128px;
    }
}

@media screen and (max-width: 479px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .padding {
        padding-left: 24px;
        padding-right: 24px;
    }

    .nav-menu-mobile {
        padding-top: 3px;
        padding-right: 28px;
        padding-left: 28px;
    }

    .nav-menu-grid-mobile {
        border-radius: 30px;
    }

    .nav-menu-item-wrapper-mobile {
        width: 100%;
    }

    .button.nav-button {
        font-size: 8vw;
    }

    .hero {
        height: 95vh;
        min-height: 600px;
    }

    .hero-card {
        padding-right: 12px;
        padding-left: 12px;
    }

    .hero-card-title {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .hero-wrapper {
        width: 100%;
        flex-wrap: wrap;
    }

    .hero-h1 {
        font-size: 12vw;
        line-height: 1.2em;
    }

    .projets {
        padding-right: 24px;
        padding-left: 24px;
    }
    .projets-item {
        height: 40vh;
    }

    .projets-label {
        grid-row-gap: 2px;
        grid-template-columns: auto;
    }
    .projets-wrapper.filter {
        position: absolute;
        object-fit: cover;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        z-index: -1;
        background: linear-gradient(90deg, rgba(14, 16, 18, 0.8) 50%, rgba(14, 16, 18, 0) 100%);
        width: 105%;
        height: 105%;
    }

    .item {
        padding-right: 24px;
        padding-left: 24px;
    }

    .motion-image-wrapper.main {
        padding-top: 84%;
    }

    .motion-play {
        width: 48px;
        height: 48px;
    }

    .motion-play-icon {
    width: 10px;
    }

    .motion-parallax-wrapper {
    width: 38%;
    }

    .motion-image-wrapper.parallax {
    border-radius: 12px;
    }

    .smallprints-grid {
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        grid-row-gap: 4px;
        grid-template-columns: auto;
        text-align: center;
    }

    .intro-img {
        height: 13vw;
    }

    .header {
        height: 95vh;
        min-height: 600px;
    }

    .projet-header-main {
        margin-top: 32px;
    }

    .section.large-section {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .info-tools {
        gap: 10px;
    }

    .photo-projet-list {
        grid-column-gap: 16px;
    }

    .header.page-header {
        padding-bottom: 64px;
    }

    .headline {
        font-size: 24vw;
    }
}