/* Roslindale Condensed Regular */
@font-face {
    font-family: "Roslindale";
    font-weight: 400;
    src: url('../font/Roslindale-DisplayCondensedRegular-Testing.woff2') format("woff2");
}

/* Mint Grotesk medium */
@font-face {
    font-family: 'Mint Grotesk';
    font-weight: 500;
    src: url('../font/mintgrotesktrial-medium-webfont.woff2') format('woff2');
}